.button {
  background-color: transparent;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 2;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  border: none;
  min-width: 150px;
  color: var(--btn-text-color);
  transition: background-color 0.3s ease-in;
}

.button svg {
  vertical-align: middle;
  margin-right: 5px;
}

.buttonPrimary {
  background-color: var(--primary-color);
}

.buttonPrimary:hover {
  background-color: var(--primary-dark-color);
  cursor: pointer;
}
